#forecast-container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.weather-forecast {
    background-color: lightyellow;
    max-width: 250px;
    display: flex;
    margin: 10px;
    padding: 15px;
    flex-direction: column;
    border-radius: 15px;
}
