.current-weather-container {
    display: inline-block;
    background-color: lightyellow;
    /* justify-content: center; */
    margin: 15px;
    /* flex-direction: column;
    align-items: center; */
    max-width: 200px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 2px 15px black;
}

#srch-btn{
    margin: 17px;
}